{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New password" type="password">
            <input class="form-control" name="confirmation" placeholder="New password confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>

    </form>
{% endblock %}